.media{
padding: 0;
height: 850px;
width:100%;
background-image:url("../images/assets/backgrounds/landing.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
.header{
margin-top: 3%;
text-align: center;
font-family: 'Handlee', Open Sans;
color: white;
font-size: 60px;
}
.menu{
margin-top: 20px;
margin-left: 20px;
background-color: transparent;
height: 50px;
width: 75px;
}
.navbar-toggler-icon{
   font-size:50px;
   cursor:pointer;
   color:#ffffff;
}
.overlayMenu {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #F15A29;
overflow-x: hidden;
transition: 0.5s;
}
#view{
  color: #F15A29 ;
}
.logo{
  text-align: center;
}
.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlayMenu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}
.overlayMenu a:hover, .overlayMenu a:focus {
color: #f1f1f1;
}
.overlayMenu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
span{
  font-size: 50px;
  cursor:pointer;
  color: #ffffff:
}
#happy{
    color: white;
    background-color: grey;
    padding: 10px;
  }
#party{
    color: white;
    background-color: #F15A29;
    padding: 10px;
  }
#breakfast{
    background-image: url(../images/assets/foodtop/breakfast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 205.5px;
  }
#lunch{
    background-image: url(../images/assets/foodtop/lunch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 205.5px;
  }
7#breakfast:hover .overlay-row{
  opacity: 3;
}
#lunch:hover .overlay-row{
  opacity: 3;
}
#dinner{
   background-image: url(../images/assets/foodtop/dinner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 205.5px;
 }
 #dinner:hover .overlay-row{
   opacity: 3;
 }
