.media{
padding: 0;
height: 850px;
width:100%;
background-image:url("../images/assets/backgrounds/landing.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
